# Chapter 23 - Applying Custom Functions

In [2]:
import pandas as pd

In [3]:
# Read Dataframe 'Q1Sales.csv'

url = ("https://raw.githubusercontent.com/pythonforaccounting/workspace/refs/heads/main/P2%20-%20Working%20with%20tables/Q1Sales.csv")
ledger_df = pd.read_csv(url)

ledger_df.head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

In [4]:
def process_channel(channel):
    return 'Name: ' + channel.upper()

In [5]:
process_channel('Shoppe.com')

'Name: SHOPPE.COM'

In [6]:
process_channel('Bullseye')

'Name: BULLSEYE'

In [7]:
ledger_df['Channel'].apply(process_channel)

0            Name: SHOPPE.COM
1               Name: WALCART
2              Name: BULLSEYE
3              Name: BULLSEYE
4              Name: BULLSEYE
                 ...
37703          Name: IBAY.COM
37704        Name: SHOPPE.COM
37705        Name: SHOPPE.COM
37706        Name: SHOPPE.COM
37707    Name: UNDERSTOCK.COM
Name: Channel, Length: 37708, dtype: object

In [8]:
# Define a function to process product names
def process_product(product): 
    
    if pd.isna(product):                      # Check if the product name is NaN  
        return 'EMPTY PRODUCT NAME'           # If the product name is missing, return a placeholder 'EMPTY PRODUCT NAME' 
    else:  
        return 'Product: ' + product.upper()  # If the product name is not missing, return the product name in uppercase prefixed with 'Product: '

In [9]:
ledger_df['Product Name'].apply(process_product)

0             Product: CANNON WATER BOMB BALLOONS 100 PACK
1        Product: LEGO NINJA TURTLES STEALTH SHELL IN P...
2                                       EMPTY PRODUCT NAME
3        Product: TRANSFORMERS AGE OF EXTINCTION GENERA...
4        Product: TRANSFORMERS AGE OF EXTINCTION GENERA...
                               ...
37703    Product: NATURE'S BOUNTY GARLIC, 2000MG, ODOR-...
37704               Product: FUNKO WONDER WOMAN POP HEROES
37705    Product: MONO GS1 GS1-BTY-BLK-L BETTY LONG GUI...
37706                                   EMPTY PRODUCT NAME
37707    Product: 3 COLLAPSIBLE BOWL SET 32OZ | 16OZ | 4OZ
Name: Product Name, Length: 37708, dtype: object

### Overthinking: Functions without a name

In [11]:
def process_channel(channel):
    return 'Name: ' + channel.upper()

ledger_df['Channel'].apply(process_channel)

0            Name: SHOPPE.COM
1               Name: WALCART
2              Name: BULLSEYE
3              Name: BULLSEYE
4              Name: BULLSEYE
                 ...
37703          Name: IBAY.COM
37704        Name: SHOPPE.COM
37705        Name: SHOPPE.COM
37706        Name: SHOPPE.COM
37707    Name: UNDERSTOCK.COM
Name: Channel, Length: 37708, dtype: object

Could be writtten as:

In [13]:
ledger_df['Channel'].apply(lambda channel: 'Name: ' + channel.upper())

0            Name: SHOPPE.COM
1               Name: WALCART
2              Name: BULLSEYE
3              Name: BULLSEYE
4              Name: BULLSEYE
                 ...
37703          Name: IBAY.COM
37704        Name: SHOPPE.COM
37705        Name: SHOPPE.COM
37706        Name: SHOPPE.COM
37707    Name: UNDERSTOCK.COM
Name: Channel, Length: 37708, dtype: object

```Python
# regular function definition
def process_channel(channel):
    return 'Name: ' + channel.upper()
    
# anonymous function definition
lambda channel: 'Name: ' + channel.upper()
```

### Applying functions to rows

In [16]:
first_row = ledger_df.iloc[0]
first_row

InvoiceNo                                      1532
Channel                                  Shoppe.com
Product Name    Cannon Water Bomb Balloons 100 Pack
ProductID                             T&G/CAN-97509
Account                                       Sales
AccountNo                                      5004
Date                                     2020-01-01
Deadline                                   11/23/19
Currency                                        USD
Unit Price                                    20.11
Quantity                                         14
Total                                        281.54
Name: 0, dtype: object

In [17]:
first_row['Total']

281.54

In [18]:
first_row['Channel']

'Shoppe.com'

    The function belllow calculates a 16% tax value on 'Shoppe.com' sales,
    an 11% tax on 'iBay.com' sales, and a 9% tax on 'Understock.com'
    sales. The tax for sales in any other channel is set to 0.

In [20]:
def calculate_tax(row):
    
    if row['Channel'] == 'Shoppe.com':
        return row['Total'] * (16 / 100)
        
    elif row['Channel'] == 'iBay.com':
        return row['Total'] * (11 / 100)
        
    elif row['Channel'] == 'Understock.com':
        return row['Total'] * (9 / 100)
        
    else:
        return 0

In [21]:
calculate_tax(first_row)      # first_row = ledger_df.iloc[0]

45.046400000000006

In [22]:
calculate_tax(ledger_df.iloc[10])

0

In [23]:
calculate_tax(ledger_df.iloc[100])

3.355

In [24]:
ledger_df.apply(calculate_tax, axis='columns')

0        45.0464
1         0.0000
2         0.0000
3         0.0000
4         0.0000
          ...
37703     1.2210
37704     4.5696
37705     0.5328
37706    55.6160
37707     8.6265
Length: 37708, dtype: float64

### Overthinking: Other function parameters

In [26]:
def calculate_tax(row, levels={}):
    
    channel = row['Channel']
    total = row['Total']
    tax = 0
    
    if channel in levels:    
      tax = levels[channel] 

    return total * tax

In [27]:
ledger_df.apply(
                calculate_tax, 
                levels={'Shoppe.com': (16 / 100),
                        'iBay.com': (11 / 100),
                        'Understock.com': (9 / 100)}, 
                axis='columns'
                )

0        45.0464
1         0.0000
2         0.0000
3         0.0000
4         0.0000
          ...
37703     1.2210
37704     4.5696
37705     0.5328
37706    55.6160
37707     8.6265
Length: 37708, dtype: float64

In [28]:
ledger_df.apply(
    calculate_tax, 
    levels={
        'Shoppe.com': (16 / 100),
        'iBay.com': (11 / 100),
        'Understock.com': (9 / 100),
        'Bullseye': (6 / 100),
        'Walcart': (4 / 100),
    }, 
    axis='columns'
)

0        45.0464
1         0.2680
2         3.5010
3         4.8456
4         4.8456
          ...
37703     1.2210
37704     4.5696
37705     0.5328
37706    55.6160
37707     8.6265
Length: 37708, dtype: float64