# Chapter 18 - Summarizing Data

In [2]:
import pandas as pd

In [3]:
# Read Dataframe 'Q1Sales.csv'

url = ("https://raw.githubusercontent.com/pythonforaccounting/workspace/refs/heads/main/P2%20-%20Working%20with%20tables/Q1Sales.csv")
ledger_df = pd.read_csv(url)

ledger_df.head()

,InvoiceNo,Channel,Product Name,ProductID,Account,AccountNo,Date,Deadline,Currency,Unit Price,Quantity,Total
0,1532,Shoppe.com,Cannon Water Bomb Balloons 100 Pack,T&G/CAN-97509,Sales,5004,2020-01-01,11/23/19,USD,20.11,14,281.54
1,1533,Walcart,LEGO Ninja Turtles Stealth Shell in Pursuit 79102,T&G/LEG-37777,Sales,5004,2020-01-01,06/15/20,USD,6.70,1,6.70
2,1534,Bullseye,NaN,T&G/PET-14209,Sales,5004,2020-01-01,05/07/20,USD,11.67,5,58.35
3,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76
4,1535,Bullseye,Transformers Age of Extinction Generations Del...,T&G/TRA-20170,Sales,5004,2020-01-01,12/22/19,USD,13.46,6,80.76

### Counting unique values

In [5]:
ledger_df.nunique()

InvoiceNo       27679
Channel             5
Product Name     2447
ProductID        2500
Account             1
AccountNo           1
Date               91
Deadline         1713
Currency            1
Unit Price       3016
Quantity          154
Total            8211
dtype: int64

In [6]:
ledger_df['Channel'].nunique()

5

In [7]:
ledger_df['Channel'].unique()

array(['Shoppe.com', 'Walcart', 'Bullseye', 'Understock.com', 'iBay.com'],
      dtype=object)

In [8]:
'Walcart' in ledger_df['Channel'].unique()

True

In [9]:
'Anazon.com' in ledger_df['Channel'].unique()

False

In [10]:
ledger_df['Channel'].value_counts()

Channel
Understock.com    13188
Shoppe.com         8662
iBay.com           7857
Walcart            4574
Bullseye           3427
Name: count, dtype: int64

In [11]:
ledger_df['Channel'].value_counts().loc['Walcart']

4574

In [12]:
ledger_df['Channel'].value_counts(normalize=True)

Channel
Understock.com    0.349740
Shoppe.com        0.229713
iBay.com          0.208364
Walcart           0.121301
Bullseye          0.090883
Name: proportion, dtype: float64

In [13]:
ledger_df['Channel'].value_counts(normalize=True) * 100

Channel
Understock.com    34.974011
Shoppe.com        22.971253
iBay.com          20.836427
Walcart           12.130052
Bullseye           9.088257
Name: proportion, dtype: float64

In [14]:
# Count the occurrences of unique combinations of 'Channel' and 'ProductID' columns
ledger_df[['Channel', 'ProductID']].value_counts()

Channel         ProductID
Understock.com  I&S/SIN-63159     33
                MI/LAN-23501      30
                CP&A/MOT-43348    30
                MI/RHY-18993      28
                K&D/3 C-07383     28
                                  ..
Shoppe.com      H&K/SE-14138       1
                H&K/SUP-50214      1
Walcart         T&G/MAG-32543      1
Shoppe.com      H&K/WAL-83087      1
                H&PC/NEW-57234     1
Name: count, Length: 7411, dtype: int64

### Averages and numerical summaries

In [16]:
ledger_df['Quantity'].mean()

11.214914606979951

In [17]:
ledger_df[['Unit Price', 'Quantity', 'Total']].mean()

Unit Price     12.897425
Quantity       11.214915
Total         131.488951
dtype: float64

In [18]:
ledger_df['Unit Price'].max()

167.07

In [19]:
ledger_df['Unit Price'].idxmax()

16817

In [20]:
# Access the value of 'Unit Price' at row 16817 using the loc method
ledger_df.loc[16817, 'Unit Price']

167.07

In [21]:
ledger_df.loc[16817]

InvoiceNo                                                   18349
Channel                                                Shoppe.com
Product Name    Kodak EasyShare Z990 12 MP Digital Camera with...
ProductID                                           C&P/KOD-32137
Account                                                     Sales
AccountNo                                                    5004
Date                                                   2020-02-07
Deadline                                                 11-10-19
Currency                                                      USD
Unit Price                                                 167.07
Quantity                                                        3
Total                                                      501.21
Name: 16817, dtype: object

In [22]:
ledger_df.describe()

          InvoiceNo  AccountNo    Unit Price      Quantity         Total
count  37708.000000    37708.0  37708.000000  37708.000000  37708.000000
mean   20339.888644     5004.0     12.897425     11.214915    131.488951
std    10889.915754        0.0     10.809160     18.090538    254.170556
min     1532.000000     5004.0      0.060000      1.000000      0.480000
25%    10930.000000     5004.0      5.550000      2.000000     18.900000
50%    20308.500000     5004.0     10.290000      6.000000     46.735000
75%    29750.250000     5004.0     17.020000     12.000000    129.140000
max    39239.000000     5004.0    167.070000    226.000000   4362.200000

In [23]:
ledger_df['Total'].quantile(.25)

18.9

In [24]:
ledger_df['Unit Price'].std()

10.809159828243542

In [25]:
ledger_df[['Unit Price', 'Quantity']].describe()

         Unit Price      Quantity
count  37708.000000  37708.000000
mean      12.897425     11.214915
std       10.809160     18.090538
min        0.060000      1.000000
25%        5.550000      2.000000
50%       10.290000      6.000000
75%       17.020000     12.000000
max      167.070000    226.000000

In [26]:
ledger_df['Total'].describe()

count    37708.000000
mean       131.488951
std        254.170556
min          0.480000
25%         18.900000
50%         46.735000
75%        129.140000
max       4362.200000
Name: Total, dtype: float64

### High-level table information

In [28]:
ledger_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37708 entries, 0 to 37707
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   InvoiceNo     37708 non-null  int64
 1   Channel       37708 non-null  object
 2   Product Name  33142 non-null  object
 3   ProductID     37708 non-null  object
 4   Account       37708 non-null  object
 5   AccountNo     37708 non-null  int64
 6   Date          37708 non-null  object
 7   Deadline      37708 non-null  object
 8   Currency      37708 non-null  object
 9   Unit Price    37708 non-null  float64
 10  Quantity      37708 non-null  int64
 11  Total         37708 non-null  float64
dtypes: float64(2), int64(3), object(7)
memory usage: 3.5+ MB